/* * {
	border: 1px solid pink;
} */

#bombo {
	animation-name: appear, spin;
	animation-duration: 20s;
}

div {
	max-width: 10%;
}

p:hover, div:hover, h1:hover {
	
	animation-name: spin;
	animation-duration: 4s;
}

@keyframes appear {
	from { 
		color: white;
	} to { 
		color: red; 
	}
}

@keyframes spin { 
	from { 
		transform: rotate(0deg); 
	} to { 
		transform: rotate(360deg); 
	}
}

@keyframes grow {
	from {font-size: 10;}
	to {font-size: 100;}
}